.calender_wrapper {
	position: relative;
	display: inline-block;
	z-index: 10;
}

.show_calender_container {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #444444;
	padding: 5px;
	border-radius: 4px;
	cursor: pointer;
	color: #fff;
}

.show_calender {
	font-size: 16px;
	font-weight: bold;
}

.calender_container {
	position: absolute;
	z-index: 10;
	top: calc(100% + 8px);
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 16px;
}

.button_confirm_date {
	display: flex;
	justify-content: flex-end;
	margin-top: 16px;
}

.button_confirm_date button {
	margin-left: 8px;
}
